<ul class="columns is-multiline p-4">
  <li class="column is-one-third" *ngFor="let league of leagues">
    <div class="card">
      <a [routerLink]="['/team']" [queryParams]="{leagueId: league.id, season: year.value}">
        <div class="card-image">
          <figure class="image is-4by5">
            <img [src]="league.logo" [alt]="league.name">
          </figure>
        </div>
        <div class="card-content p-2">
          <p class="title is-6">{{ league.name }}</p>
          <p class="subtitle is-7">{{ league.type }}</p>
        </div>
      </a>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <select ngModel #year="ngModel">
            <option *ngFor="let season of league.seasons" [ngValue]="season.year">{{ season.year }}</option>
          </select>
        </div>
      </div>
    </div>
  </li>
</ul>
