<ul class="columns is-multiline p-4">
  <li class="column is-one-third" *ngFor="let league of leagues">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by5">
          <!-- <a [routerLink]="['/league']" [queryParams]="{country: country.name}" [title]="country.name"> -->
          <img [src]="league.logo" [alt]="league.name">
          <!-- </a> -->
        </figure>
      </div>
      <div class="card-content">
        <p class="title is-6">{{ league.name }}</p>
        <p class="subtitle is-7">{{ league.type }}</p>
      </div>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <select>
            <option *ngFor="let season of league.seasons">{{ season.year }}</option>
          </select>
        </div>
      </div>
    </div>
  </li>
</ul>
