<app-loader [margin]=true *ngIf="!loaded"></app-loader>

<div *ngIf="loaded" class="field">
  <div class="control is-large">
    <input class="input is-large" type="text" name="value" [(ngModel)]="filterString" placeholder="Country Name"
      autocomplete="off">
  </div>
</div>
<ul class="columns is-multiline p-4">
  <li class="column is-one-quarter-widescreen is-one-third-desktop is-half-tablet"
    *ngFor="let country of countries | filter: filterString: 'name'">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a [routerLink]="['/leagues']" [queryParams]="{country: country.name}" [title]="country.name">
            <img [src]="country.flag" [alt]="country.name">
          </a>
        </figure>
      </div>
    </div>
  </li>
</ul>
