<app-loader [margin]=true *ngIf="!loaded"></app-loader>
<app-fixture *ngIf="displayedFixtureId" [fixtureId]="displayedFixtureId" (close)="toggleFixtureDisplay()"></app-fixture>

<div *ngIf="loaded">

  <section class="hero box m-2">
    <div class="hero-body" [ngStyle]="{'background-image': getLogoUrl()}"
      style="background-repeat: no-repeat; background-size: contain; background-position: right;">
      <p class="title">
        {{ league }}
      </p>
      <p class="subtitle">
        {{ season }}
      </p>
    </div>
  </section>

  <div class="tabs is-centered is-boxed is-fullwidth mb-2">
    <ul>
      <li *ngIf="teamGroups.length !== 0" [ngClass]="{'is-active' : screenType === ScreenType.Standings}">
        <a (click)="toggleView(ScreenType.Standings)">Standings</a>
      </li>
      <li *ngIf="topGoals.length !== 0" [ngClass]="{'is-active' : screenType === ScreenType.TopGoals}">
        <a (click)="toggleView(ScreenType.TopGoals)">Goals</a>
      </li>
      <li *ngIf="topAssists.length !== 0" [ngClass]="{'is-active' : screenType === ScreenType.TopAssists}">
        <a (click)="toggleView(ScreenType.TopAssists)">Assists</a>
      </li>
      <li *ngIf="fixtures.length !== 0" [ngClass]="{'is-active' : screenType === ScreenType.Fixtures}">
        <a (click)="toggleView(ScreenType.Fixtures)">Fixtures</a>
      </li>
    </ul>
  </div>

  <div *ngIf="screenType === ScreenType.Standings">
    <div class="field">
      <div class="control is-medium">
        <input class="input is-medium has-text-centered" type="text" name="value" [(ngModel)]="filterString"
          placeholder="Team Name" autocomplete="off">
      </div>
    </div>

    <div class="columns">
      <div class="column p-0">
        <div style="display: grid">
          <div class="table-container box p-0 m-3">
            <table class="table is-striped is-hoverable is-fullwidth" *ngFor="let teams of teamGroups">
              <thead>
                <tr style="cursor: default;">
                  <th><abbr title="Standing">#</abbr></th>
                  <th>Club</th>
                  <th><abbr title="Matches Played">MP</abbr></th>
                  <th><abbr title="Matches Won">W</abbr></th>
                  <th><abbr title="Matches Drawn">D</abbr></th>
                  <th><abbr title="Matches Lost">L</abbr></th>
                  <th><abbr title="Goals Scored">GF</abbr></th>
                  <th><abbr title="Goals Conceded">GA</abbr></th>
                  <th><abbr title="Goal Difference">GD</abbr></th>
                  <th><abbr title="Points">Pts</abbr></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of teams | filter: filterString: 'name': 'team'" (click)="onSubmit(t.team.id)">
                  <td>{{ t.rank }}</td>
                  <td>
                    <div class="columns">
                      <div class="column">
                        <figure class="image is-32x32">
                          <img [src]="t.team.logo" [alt]="t.team.name">
                        </figure>
                      </div>
                      <div class="column is-full">
                        {{ t.team.name }}
                      </div>
                    </div>
                  </td>
                  <td>{{ t.all.played }}</td>
                  <td>{{ t.all.win }}</td>
                  <td>{{ t.all.draw }}</td>
                  <td>{{ t.all.lose }}</td>
                  <td>{{ t.all.goals.for }}</td>
                  <td>{{ t.all.goals.against }}</td>
                  <td>{{ t.goalsDiff }}</td>
                  <td>{{ t.points }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-players *ngIf="screenType === ScreenType.TopGoals" [players]="topGoals"></app-players>

  <app-players *ngIf="screenType === ScreenType.TopAssists" [players]="topAssists"></app-players>

  <div *ngIf="screenType === ScreenType.Fixtures">
    <div class="columns">
      <div class="column p-0">
        <div style="display: grid">
          <div class="table-container box p-0 m-3">
            <table class="table is-striped is-hoverable is-fullwidth has-text-centered">
              <thead>
                <tr style="cursor: default;">
                  <th>Home</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Away</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let f of fixtures[fixtureIdx]" (click)="getFixtureStats(f.fixture.id)">
                  <td>
                    <div class="columns">
                      <div class="column is-narrow">
                        <figure class="image is-32x32">
                          <img [src]="f.teams.home.logo" [alt]="f.teams.home.name">
                        </figure>
                      </div>
                      <div class="column">
                        {{ f.teams.home.name }}
                      </div>
                    </div>
                  </td>
                  <td>{{ f.goals.home }}</td>
                  <td> - </td>
                  <td>{{ f.goals.away }}</td>
                  <td>
                    <div class="columns">
                      <div class="column">
                        {{ f.teams.away.name }}
                      </div>
                      <div class="column is-narrow">
                        <figure class="image is-32x32">
                          <img [src]="f.teams.away.logo" [alt]="f.teams.away.name">
                        </figure>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <nav class="pagination is-centered m-0 p-0" role="navigation">
      <ul class="pagination-list">
        <li *ngFor="let i of fixtures; let index = index">
          <a class="pagination-link" (click)="fixtureIdx = index" [ngClass]="{'is-current': fixtureIdx == index}">
            {{ index + 1 }}
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
