<app-loader [margin]=true *ngIf="!loaded"></app-loader>

<div *ngIf="loaded">

  <section class="hero box m-2">
    <div class="hero-body" [ngStyle]="{'background-image': getLogoUrl()}"
      style="background-repeat: no-repeat; background-size: contain; background-position: right;">
      <p class="title">
        {{ league }}
      </p>
      <p class="subtitle">
        {{ season }}
      </p>
    </div>
  </section>

  <div class="tabs is-centered is-boxed is-fullwidth mb-2">
    <ul>
      <li [ngClass]="{'is-active' : standings}">
        <a (click)="toggleView()">Standings</a>
      </li>
      <li [ngClass]="{'is-active' : !standings}">
        <a (click)="toggleView()">Top Players</a>
      </li>
    </ul>
  </div>

  <div *ngIf="standings">
    <div class="field">
      <div class="control is-medium">
        <input class="input is-medium has-text-centered" type="text" name="value" [(ngModel)]="filterString"
          placeholder="Team Name" autocomplete="off">
      </div>
    </div>

    <div class="columns">
      <div class="column p-0">
        <div style="display: grid">
          <div class="table-container box p-0 m-3">
            <table class="table is-striped is-hoverable is-fullwidth">
              <thead style="cursor: default;">
                <tr>
                  <!-- <abbr title="Played">Pld</abbr> ! use this  -->
                  <th>#</th>
                  <th>Club</th>
                  <th>MP</th>
                  <th>W</th>
                  <th>D</th>
                  <th>L</th>
                  <th>GF</th>
                  <th>GA</th>
                  <th>GD</th>
                  <th>Pts</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of teams | filter: filterString: 'name': 'team'" (click)="onSubmit(t.team.id)">
                  <td>{{ t.rank }}</td>
                  <td>
                    <div class="columns">
                      <div class="column">
                        <figure class="image is-32x32">
                          <img [src]="t.team.logo" [alt]="t.team.name">
                        </figure>
                      </div>
                      <div class="column is-full">
                        {{ t.team.name }}
                      </div>
                    </div>
                  </td>
                  <td>{{ t.all.played }}</td>
                  <td>{{ t.all.win }}</td>
                  <td>{{ t.all.draw }}</td>
                  <td>{{ t.all.lose }}</td>
                  <td>{{ t.all.goals.for }}</td>
                  <td>{{ t.all.goals.against }}</td>
                  <td>{{ t.goalsDiff }}</td>
                  <td>{{ t.points }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-player-info (close)="togglePlayerDisplay()" [player]="displayedPlayer" *ngIf="displayedPlayer"></app-player-info>

  <ul *ngIf="!standings" class="columns is-multiline p-3">
    <li *ngFor="let p of topPlayers" class="column is-one-quarter-widescreen is-one-third-desktop is-half-tablet">
      <div class="card" (click)="togglePlayerDisplay(p)">
        <div class="card-image">
          <figure class="image is-square">
            <img [src]="p.player.photo" [alt]="p.player.name">
          </figure>
        </div>
        <div class="card-content p-3 has-text-centered">
          <p class="title is-6">{{ p.player.name }}</p>
          <p class="subtitle is-7">Age: {{ p.player.age }}</p>
        </div>
      </div>
    </li>
  </ul> -->

  <app-players *ngIf="!standings" [players]="topPlayers"></app-players>

</div>
