<div class="box p-0 m-3">

  <section class="hero p-2 m-2">
    <div class="hero-body" [ngStyle]="{'background-image': getUrl()}" style="background-repeat: no-repeat;
  background-size: auto; background-position: right;">
      <p class="title">
        {{ team.team.name }}
      </p>
      <p class="subtitle">
        {{ team.league.name }} - {{ team.league.season }}
      </p>
    </div>
  </section>

  <div class="columns">
    <div class="column pb-0 pt-3">
      <div style="display: grid">
        <div class="table-container">
          <table class="table is-bordered is-fullwidth">
            <thead>
              <tr>
                <th *ngFor="let c of team.form | split" [ngClass]="{'is-success': c === 'W', 
              'is-light': c === 'D', 'is-danger': c === 'L'}">{{ c }}</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs is-centered is-toggle is-fullwidth mb-2">
    <ul>
      <li [ngClass]="{'is-active' : stats}">
        <a (click)="toggleView()">Statistics</a>
      </li>
      <li [ngClass]="{'is-active' : !stats}">
        <a (click)="toggleView()">Players</a>
      </li>
    </ul>
  </div>

  <!-- * team statistics -->
  <table *ngIf="stats" class="table is-striped is-hoverable is-fullwidth has-text-centered">
    <thead>
      <tr>
        <th></th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>ALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4" class="has-text-left">FIXTURES</td>
      </tr>
      <tr>
        <td>Games Played</td>
        <td>{{ team.fixtures.played.home }}</td>
        <td>{{ team.fixtures.played.away }}</td>
        <td>{{ team.fixtures.played.total }}</td>
      </tr>
      <tr>
        <td>Wins</td>
        <td>{{ team.fixtures.wins.home }}</td>
        <td>{{ team.fixtures.wins.away }}</td>
        <td>{{ team.fixtures.wins.total }}</td>
      </tr>
      <tr>
        <td>Draws</td>
        <td>{{ team.fixtures.draws.home }}</td>
        <td>{{ team.fixtures.draws.away }}</td>
        <td>{{ team.fixtures.draws.total }}</td>
      </tr>
      <tr>
        <td>Loss</td>
        <td>{{ team.fixtures.loses.home }}</td>
        <td>{{ team.fixtures.loses.away }}</td>
        <td>{{ team.fixtures.loses.total }}</td>
      </tr>
      <tr>
        <td colspan="4" class="has-text-left">GOALS</td>
      </tr>
      <tr>
        <td>Scored</td>
        <td>{{ team.goals.for.total.home }}</td>
        <td>{{ team.goals.for.total.away }}</td>
        <td>{{ team.goals.for.total.total }}</td>
      </tr>
      <tr>
        <td>Conceded</td>
        <td>{{ team.goals.against.total.home }}</td>
        <td>{{ team.goals.against.total.away }}</td>
        <td>{{ team.goals.against.total.total }}</td>
      </tr>
      <tr>
        <td>Clean Sheet</td>
        <td>{{ team.clean_sheet.home }}</td>
        <td>{{ team.clean_sheet.away }}</td>
        <td>{{ team.clean_sheet.total }}</td>
      </tr>
      <tr>
        <td colspan="4" class="has-text-left">BIGGEST</td>
      </tr>
      <tr>
        <td>Scored</td>
        <td>{{ team.biggest.goals.for.home }}</td>
        <td>{{ team.biggest.goals.for.away }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Conceded</td>
        <td>{{ team.biggest.goals.against.home }}</td>
        <td>{{ team.biggest.goals.against.away }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Win</td>
        <td>{{ team.biggest.wins.home }}</td>
        <td>{{ team.biggest.wins.away }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Loss</td>
        <td>{{ team.biggest.loses.home }}</td>
        <td>{{ team.biggest.loses.away }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <!-- * team players -->
  <div *ngIf="!stats">
    <ul class="columns is-multiline p-3">
      <li class="column is-one-third" *ngFor="let p of players">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img [src]="p.player.photo" [alt]="p.player.name">
            </figure>
          </div>
          <div class="card-content p-3 has-text-centered">
            <p class="title is-6">{{ p.player.name }}</p>
            <p class="subtitle is-7">Age: {{ p.player.age }}</p>
          </div>
        </div>
      </li>
    </ul>

    <nav class="pagination is-centered m-0 p-0" role="navigation">
      <ul class="pagination-list">
        <li *ngFor="let i of totalPlayerPage; let index = index">
          <a class="pagination-link" (click)="loadPlayers(index + 1)"
            [ngClass]="{'is-current': currentPlayerPage == index + 1}">
            {{ index + 1 }}
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
