<!-- <div class="backdrop">
  <div class="alert-box">
    <article class="message is-dark">
      <div class="message-header">
        <p>{{ player.player.name }}</p>
        <button class="delete" aria-label="delete" (click)="onClose()"></button>
      </div>
      <div class="message-body">
        <section class="hero p-2 m-2">
          <div class="hero-body has-text-right" [ngStyle]="{'background-image': getUrl()}" style="background-repeat: no-repeat;
        background-size: auto;">
            <p class="title">
              {{ player.player.firstname }} {{ player.player.lastname }}
            </p>
            <p class="subtitle">
              {{ team.league.name }} - {{ team.league.season }}
            </p>
          </div>
        </section>
      </div>
    </article>
  </div>
</div> -->

<div class="backdrop">
  <div class="alert-box">
    <div class="modal-card is-dark">
      <header class="modal-card-head">
        <p class="modal-card-title">
          <strong>{{ player.player.name }}</strong>, {{ player.player.nationality }}
        </p>
        <button class="delete" aria-label="close" (click)="onClose()"></button>
      </header>
      <section class="modal-card-body p-2">
        <section class="hero">
          <div class="hero-body has-text-right" [ngStyle]="{'background-image': getUrl()}"
            style="background-repeat: no-repeat; background-size: auto;">
            <p class="title">
              {{ player.player.firstname }} {{ player.player.lastname }}
            </p>
            <p class="subtitle">
              Age: <strong>{{ player.player.age }}</strong> |
              Height: <strong>{{ player.player.height }}</strong> |
              Weight: <strong>{{ player.player.weight }}</strong>
            </p>
          </div>
        </section>

        <div class="box">
          <ul class="columns is-multiline p-3 has-text-centered are-medium">
            <li class="column is-one-third-desktop is-half-tablet">
              Appearences: <strong class="tag is-dark">{{ stats.games.appearences }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Lineups: <strong class="tag is-light">{{ stats.games.lineups }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Minutes: <strong class="tag is-link is-light">{{ stats.games.minutes }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Captain: <strong class="tag is-primary is-light">{{ stats.games.captain !== null }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Position: <strong class="tag is-info is-light">{{ stats.games.position }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Rating:
              <strong class="tag is-light"
                [ngClass]="stats.games.rating > 6.67 ? 'is-success' : stats.games.rating > 3.34 ? 'is-warning' : 'is-danger'">
                {{ stats.games.rating }}
              </strong>
            </li>
          </ul>
        </div>

        <table class="table is-fullwidth has-text-centered">
          <tbody>
            <tr>
              <th>Goals</th>
              <td>total: <strong>{{ stats.goals.total }}</strong></td>
              <td>assists: <strong>{{ stats.goals.assists }}</strong></td>
              <td>saves: <strong>{{ stats.goals.saves }}</strong></td>
            </tr>
            <tr>
              <th>Penalty</th>
              <td>won: <strong>{{ stats.penalty.won }}</strong></td>
              <td>scored: <strong>{{ stats.penalty.scored }}</strong></td>
              <td>missed: <strong>{{ stats.penalty.missed }}</strong></td>
            </tr>
            <tr>
              <th>Shots</th>
              <td>total: <strong>{{ stats.shots.total }}</strong></td>
              <td>on: <strong>{{ stats.shots.on }}</strong></td>
              <td></td>
            </tr>
            <tr>
              <th>Dribbles</th>
              <td>attempts: <strong>{{ stats.dribbles.attempts }}</strong></td>
              <td>success: <strong>{{ stats.dribbles.success }}</strong></td>
              <td>past: <strong>{{ stats.dribbles.past }}</strong></td>
            </tr>
            <tr>
              <th>Tackles</th>
              <td>total: <strong>{{ stats.tackles.total }}</strong></td>
              <td>interceptions: <strong>{{ stats.tackles.interceptions }}</strong></td>
              <td>blocks: <strong>{{ stats.tackles.blocks }}</strong></td>
            </tr>
            <tr>
              <th>Duels</th>
              <td>total: <strong>{{ stats.duels.total }}</strong></td>
              <td>won: <strong>{{ stats.duels.won }}</strong></td>
              <td></td>
            </tr>
            <tr>
              <th>Cards</th>
              <td>yellow: <strong>{{ stats.cards.yellow }}</strong></td>
              <td>red: <strong>{{ stats.cards.red }}</strong></td>
              <td>yellowred: <strong>{{ stats.cards.yellowred }}</strong></td>
            </tr>
            <tr>
              <th>Passes</th>
              <td>total: <strong>{{ stats.passes.total }}</strong></td>
              <td>key: <strong>{{ stats.passes.key }}</strong></td>
              <td>accuracy: <strong>{{ stats.passes.accuracy }} %</strong></td>
            </tr>
            <tr>
              <th>Fouls</th>
              <td>committed: <strong>{{ stats.fouls.committed }}</strong></td>
              <td>drawn: <strong>{{ stats.fouls.drawn }}</strong></td>
              <td></td>
            </tr>
            <tr>
              <th>Substitutes</th>
              <td>bench: <strong>{{ stats.substitutes.bench }}</strong></td>
              <td>in: <strong>{{ stats.substitutes.in }}</strong></td>
              <td>out: <strong>{{ stats.substitutes.out }}</strong></td>
            </tr>
          </tbody>
        </table>
      </section>
      <footer class="modal-card-foot">
        {{ stats.league.name }} | {{ stats.team.name }} | {{ stats.league.season }}
      </footer>
    </div>
  </div>
</div>
