<div class="backdrop">
  <div class="alert-box">
    <div class="modal-card is-dark">
      <header class="modal-card-head">
        <p class="modal-card-title">
          <strong>{{ player.player.name }}</strong>, {{ player.player.nationality }}
        </p>
        <button class="delete" aria-label="close" (click)="onClose()"></button>
      </header>
      <section class="modal-card-body p-2">
        <section class="hero">
          <div class="hero-body has-text-right" [ngStyle]="{'background-image': getUrl()}"
            style="background-repeat: no-repeat; background-size: auto;">
            <p class="title">
              {{ player.player.firstname }} {{ player.player.lastname }}
            </p>
            <p class="subtitle">
              Age: <strong>{{ player.player.age }}</strong> |
              Height: <strong>{{ player.player.height }}</strong> |
              Weight: <strong>{{ player.player.weight }}</strong>
            </p>
          </div>
        </section>

        <div class="box">
          <ul class="columns is-multiline p-3 has-text-centered are-medium">
            <li class="column is-one-third-desktop is-half-tablet">
              Appearences: <strong class="tag is-dark">{{ stats.games.appearences }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Lineups: <strong class="tag is-light">{{ stats.games.lineups }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Minutes: <strong class="tag is-link is-light">{{ stats.games.minutes }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Captain: <strong class="tag is-primary is-light">{{ stats.games.captain !== null }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Position: <strong class="tag is-info is-light">{{ stats.games.position }}</strong>
            </li>
            <li class="column is-one-third-desktop is-half-tablet">
              Rating:
              <strong class="tag is-light"
                [ngClass]="stats.games.rating > 6.67 ? 'is-success' : stats.games.rating > 3.34 ? 'is-warning' : 'is-danger'">
                {{ stats.games.rating }}
              </strong>
            </li>
          </ul>
        </div>

        <table class="table is-fullwidth has-text-centered">
          <tbody>
            <tr>
              <th>Goals</th>
              <td>total: <strong>{{ stats.goals.total }}</strong></td>
              <td>assists: <strong>{{ stats.goals.assists }}</strong></td>
              <td>saves: <strong>{{ stats.goals.saves }}</strong></td>
            </tr>
            <tr>
              <th>Penalty</th>
              <td>won: <strong>{{ stats.penalty.won }}</strong></td>
              <td>scored: <strong>{{ stats.penalty.scored }}</strong></td>
              <td>missed: <strong>{{ stats.penalty.missed }}</strong></td>
            </tr>
            <tr>
              <th>Shots</th>
              <td>total: <strong>{{ stats.shots.total }}</strong></td>
              <td>on: <strong>{{ stats.shots.on }}</strong></td>
              <td></td>
            </tr>
            <tr>
              <th>Dribbles</th>
              <td>attempts: <strong>{{ stats.dribbles.attempts }}</strong></td>
              <td>success: <strong>{{ stats.dribbles.success }}</strong></td>
              <td>past: <strong>{{ stats.dribbles.past }}</strong></td>
            </tr>
            <tr>
              <th>Tackles</th>
              <td>total: <strong>{{ stats.tackles.total }}</strong></td>
              <td>interceptions: <strong>{{ stats.tackles.interceptions }}</strong></td>
              <td>blocks: <strong>{{ stats.tackles.blocks }}</strong></td>
            </tr>
            <tr>
              <th>Duels</th>
              <td>total: <strong>{{ stats.duels.total }}</strong></td>
              <td>won: <strong>{{ stats.duels.won }}</strong></td>
              <td></td>
            </tr>
            <tr>
              <th>Cards</th>
              <td>yellow: <strong>{{ stats.cards.yellow }}</strong></td>
              <td>red: <strong>{{ stats.cards.red }}</strong></td>
              <td>yellowred: <strong>{{ stats.cards.yellowred }}</strong></td>
            </tr>
            <tr>
              <th>Passes</th>
              <td>total: <strong>{{ stats.passes.total }}</strong></td>
              <td>key: <strong>{{ stats.passes.key }}</strong></td>
              <td>accuracy: <strong>{{ stats.passes.accuracy }} %</strong></td>
            </tr>
            <tr>
              <th>Fouls</th>
              <td>committed: <strong>{{ stats.fouls.committed }}</strong></td>
              <td>drawn: <strong>{{ stats.fouls.drawn }}</strong></td>
              <td></td>
            </tr>
            <tr>
              <th>Substitutes</th>
              <td>bench: <strong>{{ stats.substitutes.bench }}</strong></td>
              <td>in: <strong>{{ stats.substitutes.in }}</strong></td>
              <td>out: <strong>{{ stats.substitutes.out }}</strong></td>
            </tr>
          </tbody>
        </table>

        <details *ngIf="achievements.length" class="mb-1 p-1">
          <summary class="title box mb-1" style="cursor: pointer;">Achievements</summary>
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>Season</th>
                <th>Country</th>
                <th>League</th>
                <th>Place</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of achievements">
                <td>{{ a.season }}</td>
                <td>{{ a.country }}</td>
                <td>{{ a.league }}</td>
                <td>
                  <span class="tag is-medium" [ngClass]="a.place === 'Winner' ? 'is-success' : 'is-link'">
                    {{ a.place }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </details>

        <details *ngIf="transfers.length" class="mb-1 p-1">
          <summary class="title box mb-1" style="cursor: pointer;">Transfers</summary>
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>Date</th>
                <th>Out</th>
                <th>In</th>
                <th>Place</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of transfers">
                <td>{{ t.date }}</td>
                <td>
                  <div class="columns">
                    <div class="column">
                      <figure class="image is-32x32">
                        <img [src]="t.teams.out.logo" [alt]="t.teams.out.name">
                      </figure>
                    </div>
                    <div class="column is-full">
                      {{ t.teams.out.name }}
                    </div>
                  </div>
                </td>
                <td>
                  <div class="columns">
                    <div class="column">
                      <figure class="image is-32x32">
                        <img [src]="t.teams.in.logo" [alt]="t.teams.in.name">
                      </figure>
                    </div>
                    <div class="column is-full">
                      {{ t.teams.in.name }}
                    </div>
                  </div>
                </td>
                <td>
                  <span class="tag is-medium"
                    [ngClass]="t.type === 'Free' ? 'is-danger' : t.type === 'N/A' ? 'is-warning' : t.type === 'Loan' ? 'is-info' : 'is-primary'">
                    {{ t.type }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </details>

        <details *ngIf="sidelined.length" class="mb-1 p-1">
          <summary class="title box mb-1" style="cursor: pointer;">Sidelined</summary>
          <table class="table is-striped is-hoverable is-fullwidth has-text-centered">
            <thead>
              <tr>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of sidelined">
                <td>{{ s.type }}</td>
                <td>{{ s.start }}</td>
                <td>{{ s.end }}</td>
              </tr>
            </tbody>
          </table>
        </details>
      </section>

      <footer class="modal-card-foot">
        {{ stats.league.name }} | {{ stats.team.name }} | {{ stats.league.season }}
      </footer>
    </div>
  </div>
</div>
