<ul class="columns is-multiline p-4">
  <li class="column is-one-third" *ngFor="let team of teams">
    <div class="card">
      <!-- <a [routerLink]="['/team']" [queryParams]="{leagueId: league.id, season: year.value}"> -->
      <!-- <a (click)="onSubmit(league.id, year.value)"> -->
      <div class="card-image">
        <figure class="image is-4by5">
          <img [src]="team.logo" [alt]="team.name">
        </figure>
      </div>
      <div class="card-content p-3">
        <p class="title is-6 has-text-centered">{{ team.name }}</p>
      </div>
      <!-- </a> -->
    </div>
  </li>
</ul>
